
@import './variables';

@mixin flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@font-face {
  font-family: 'Green Yellow';
  src: url('../assets/fonts/Green Yellow.ttf') format('truetype');
}

@font-face {
  font-family: 'Champagne';
  src: url('../assets/fonts/Champagne & Limousines.ttf') format('truetype');
}

@font-face {
  font-family: 'Champagne bold';
  src: url('../assets/fonts/Champagne & Limousines Bold.ttf') format('truetype');
  font-weight: bold;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-style: normal;
}

#root {
  height: 100vh;
}

body::-webkit-scrollbar {
  display: none;
}

p {
  font-family: "Champagne", sans-serif;
  font-size: 18px;
}

h1, h2, h3 {
  font-family: 'Green Yellow', sans-serif;

}

button  {
  font-family: "Champagne bold", sans-serif;
}

strong  {
  font-family: "Champagne bold", sans-serif;
}


.quote-green {
  font-family: "Green Yellow", sans-serif;
  font-size: 60px;
  color: #CCD5AE;
}

.quote-pink {
  font-family: "Green Yellow", sans-serif;
  font-size: 60px;
  color: #FFDAC6;
}

.quote-white {
  font-family: "Green Yellow", sans-serif;
  font-size: 60px;
  color: #fff1e6;
}

.quote-green__servizi {
  font-family: "Green Yellow", sans-serif;
  font-size: 60px;
  color: #CCD5AE;
}

.quote-pink__servizi {
  font-family: "Green Yellow", sans-serif;
  font-size: 60px;
  color: #FFDAC6;
}

.quote-white__servizi {
  font-family: "Green Yellow", sans-serif;
  font-size: 60px;
  color: #fff1e6;
}

/* Per schermi da 1024px a 768px */
@media (max-width: 1024px) {
  .quote-green__servizi, .quote-pink__servizi, .quote-white__servizi {
    font-size: 50px;
  }
  .quote-green, .quote-pink, .quote-white {
    font-size: 50px;
  }
}

/* Per schermi da 768px a 600px */
@media (max-width: 768px) {
  .quote-green__servizi, .quote-pink__servizi, .quote-white__servizi {
    font-size: 45px;
  }
  .quote-green, .quote-pink, .quote-white {
    font-size: 33px;
  }
}

/* Per schermi da 600px a 480px */
@media (max-width: 600px) {
  .quote-green__servizi, .quote-pink__servizi, .quote-white__servizi {
    font-size: 50px;
  }
  .quote-green, .quote-pink, .quote-white {
    font-size: 28px;
  }
}

/* Per schermi da 480px a 360px */
@media (max-width: 480px) {
  .quote-green__servizi, .quote-pink__servizi, .quote-white__servizi {
    font-size: 40px;
  }
  .quote-green, .quote-pink, .quote-white {
    font-size: 25px;
  }
}

/* Per schermi inferiori a 360px */
@media (max-width: 360px) {
  .quote-green__servizi, .quote-pink__servizi, .quote-white__servizi {
    font-size: 35px;
  }
  .quote-green, .quote-pink, .quote-white {
    font-size: 24px;
  }
}


.navlink {
  text-decoration: none;
}

